[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
pyaudio = "*"
speechrecognition = "*"
pydub = "*"
elevenlabs = "*"
gtts = "*"
gradio = "*"
gradio-client = "*"
pydantic = "==2.10.6"


[dev-packages]

[requires]
python_version = "3.9"
